body{
    background-color: #333333;
    color: #cccccc;
}

main{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

img{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

button{
    background-color: #333333;
    border-color: #333333;
    color: #cccccc;
    vertical-align: middle;
    margin: auto 0;
    position: relative;
}